
<app-navbar></app-navbar>

<div class="container mt-5 ">
    <h1>Sign In</h1>

    <form [formGroup]="LoginForm" (ngSubmit)="loginSender()">
        <!-- Email -->
        <div class="form-group mt-4">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                formControlName = "email"
            >
        </div>
        @if (LoginForm.controls['email'].errors?.['required'] && LoginForm.controls['email'].touched) {
            <small id="emailHelp" class="form-text text-danger">please Add Your Email</small>
        }
        @if (LoginForm.controls['email'].errors?.['pattern'] && !LoginForm.controls['email'].errors?.['required']) {
            <small id="emailHelp" class="form-text text-danger">Invalid email format. </small>
        }

        <!-- Password -->
        <div class="form-group mt-4">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
            formControlName = "pass"
            >
        </div>
        @if (LoginForm.controls['pass'].errors?.['required'] && LoginForm.controls['pass'].touched) {
            <small id="passHelp" class="form-text text-danger">please Add Your Password</small>
        }
        @if (LoginForm.controls['pass'].errors?.['pattern'] && !LoginForm.controls['pass'].errors?.['required']) {
            <small id="passHelp" class="form-text text-danger">password length not length than 8 chars , 
                contains at least one lowercase, one uppercase, at least one digit and special char </small>
        }

        <button type="submit" class="btn btn-primary mt-4 d-flex" [disabled]="LoginForm.invalid">Login</button>
        <p class="mt-4">Don't hava account
            <a class="text-black" routerLink="/signUp">Register</a>
        </p>
    </form>
</div>